{% extends "form/base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div style="margin-top: 30px">
    <a href="{% url 'crud_home' %}" class="btn btn-primary" style="float: right">Home</a>
    <img src="{{ student.profile_picture.url }}" style="height: 200px; width; 200px; border-radius:50%">
    <br>
    <br>
    Name:{{ student.name }} <br>
    Age: {{ student.age }}<br>
    Department: {{ student.department }}<br>
    Classroom: {{ student.classroom.name }}<br>
    Address: {{ student.studentprofile.address }}<br>
    Phone Number: {{ student.studentprofile.phone_no }}<br>
    Email: {{ student.studentprofile.email }}<br>


</div>
{% endblock %}
